@defer {<div>
  <ul class="card-container">
    @for (char of characters; track char.id) {
    <li class="card">
      <div class="data-header">
        @if(char.status === "Alive") {
          <p [class]="char.status === 'Alive' ? 'text-green' : 'text-purple'">{{char.status}}</p>
        } @else {
          <p [class]="char.status === 'unknown' ? 'text-purple' : 'text-red'">{{char.status}}</p>
        }
        @if(char.species === "Human"){
          <p class="text-orange">{{ char.species }}</p>
        } @else {
          <p class="text-brown">{{char.species}}</p>
        }
      </div>
      <img class="img" src="{{ char.image }}" alt="" />
      <div class="name-details">
        <span>Name: </span> <p> {{ char.name }}</p>
      </div>
      <a class="details" (click)="redirectDetails(char.id); $event.preventDefault();">Details</a>
    </li>
    }
  </ul>
</div>} @placeholder (minimum 3000ms) {
  <div class="loader-container ">
    <img class="loader" alt="loading..." src="/LOADER.gif" />
  </div>
}

