<button class="back" (click)="back()">Back</button>
<div class="space">
  <div class="card-container">
    <h2>Informacion</h2>
    <img src="{{ char.image }}" alt="" />
    <h3>{{ char.name }}</h3>
    <div class="card-detailed">
      <div class="gender-detail">
        <span>Gender: </span>
        @if(char.gender === "Female"){
          <p class="text-pink-500">{{char.gender}}</p>
        } @else {
          <p class="text-blue-500">{{char.gender}}</p>
        }

      </div>
      <div class="status-detail">
        <span>Status: </span>
        @if(char.status === "Alive") {
          <p [class]="char.status === 'Alive' ? 'text-green' : 'text-purple'">{{char.status}}</p>
        } @else {
          <p [class]="char.status === 'unknown' ? 'text-purple' : 'text-red'">{{char.status}}</p>
        }
      </div>
      <div class="species-detail">
        <span>Species: </span>
        @if(char.species === "Human"){
          <p class="text-orange">{{ char.species }}</p>
        } @else {
          <p class="text-brown">{{char.species}}</p>
        }
      </div>
      <span>Origin: {{ char.origin.name }}</span>
      <span>Location: {{ char.location.name }}</span>
    </div>
  </div>
</div>
